[user]
  name = Dolf Barr
	email = mail@dolf.me
	signingkey = F767A2FA
[core]
  editor = code --new-window --wait
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --new-window --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --new-window --wait --diff
[alias]
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  loggy = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
[push]
  default = simple
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[commit]
	gpgSign = false
[tag]
	gpgSign = true
